@model CoachCue.ViewModels.FollowersModel
@using CoachCue.Model;

@{
    ViewBag.Title = "CoachCue - " + Model.FollowItem + " Followers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section pod-followers">
    <div class="panel panel-default user-panel player-header follow-header">
        <div class="panel-heading">
            <div class="avatar user-avatar-large height" style="background: url('@Model.FollowImg') 50% 50% no-repeat;"></div>

            <div class="header-details">
                <h4 class='username'><a class="username" href="@Model.FollowLink">@Model.FollowItem</a></h4>
            </div>
        </div>

        <div class="panel-body">

            <div class="user-stats-container">
                <ul class="stats stats-list">
                    <li>
                        <a>
                            Followers<strong>@Model.FollowCoaches.Count().ToString()</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Followers</h3>
        </div>
        <div class="panel-body">

            <table class="table">
                @foreach (CoachCue.Model.user coach in Model.FollowCoaches)
                {
                    <tr>
                        <td class="follow-item">
                            @{ Html.RenderPartial("_CoachItem", model: coach); }
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>

</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}