@model CoachCue.ViewModels.BaseViewModel
@using CoachCue.Model;

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            @{ Html.RenderPartial("_UserPod", model: Model); }
        </div>
    }

    <div class="row">
        @{ Html.RenderPartial("_TopVoteList", model: Model.TopVotedPlayers); }
    </div>

    <div class="row">
        @{ Html.RenderPartial("_TopCoaches", model: Model.TopCoaches); }
    </div>

    <div class="row">
        @{ Html.RenderPartial("_TrendingList", model: Model.TrendingItems); }
    </div>
    
   