@model CoachCue.ViewModels.BaseViewModel
@using CoachCue.Model;

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            @{ Html.RenderPartial("_UserPod", model: Model); }
        </div>
    }
    else
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Join CoachCue!</h3>
                </div>
                <div class="panel-body">
                    <strong><a data-toggle="modal" href="#register-modal">Join CoachCue!</a></strong> to follow all your players, get the latest news and post matchup questions.
                </div>
            </div>
        </div>
    }

    <div class="row">
        @{ Html.RenderPartial("_TopVoteList", model: Model.TopVotedPlayers); }
    </div>

    <div class="row">
        @{ Html.RenderPartial("_TopCoaches", model: Model.TopCoaches); }
    </div>

    <div class="row">
        @{ Html.RenderPartial("_TrendingList", model: Model.TrendingItems); }
    </div>
    
   