    <!-- share a message/matchup -->
    <div class="panel panel-default message-share">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a class="new-matchup-tab" href="#tabMsg" data-toggle="tab"><span>Create a Matchup</span></a></li>
                <li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a role="button" data-slidepanel="panel" class="login-register" href="/Post/LoginRegister"><span>Share What's New</span></a>
                    }
                    else
                    {
                        <a id="select-new-message" data-slidepanel="panel" role="button" href="/Post/NewMessage?ply=@Model.PlayerID" class="ms-action-conversation"><span>Share What's New</span></a>
                    }
                </li>
            </ul>
        </div>

        <div class="panel-body">      
            <div class="tabbable">
                <div class="tab-content">
                    <div id="tabMsg" class="tab-pane active">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a role="button" data-slidepanel="panel" class="login-register" href="/Post/LoginRegister">
                                <span>Post a New Player Matchup</span>
                            </a>
                        }
                        else
                        {
                            <a data-slidepanel="panel" role="button" href="/Post/NewMatchup?ply1=@Model.PlayerID" class="post-matchup-msg ms-action-matchup select-new-matchup">
                                <span>Post a New Player Matchup</span>
                            </a>
                        }
                    </div>
                    <div id="tabMtchp" class="tab-pane">
                        <a data-slidepanel="panel" role="button" href="/Post/NewMessage?ply=@Model.PlayerID" class="ms-action-conversation">Matchup</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
   

