@model List<Player>
@using CoachCue.Models;

   <div class="span4 pod pod-child" id="player-listing">

        <h4>Trending</h4>

        <div id="search-results">
            <div id="trending-filter">
            @foreach (var player in Model)
            {
                { Html.RenderPartial("_PlayerItem", model: player); }
            }
            </div>
        </div>

    </div>