    <table cellpadding="0" border="0" style="line-height: 1.2em; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; border-spacing: 0px; font-size: 100%; border: 0" cellspacing="0" width="585">
        <tbody>
            <tr>
                <td width="50">
                    <img src="http://coachcue.com/assets/img/mailsp.gif" style="border-style: none" height="1" width="1"></td>
                <td width="485">
                    <table cellpadding="0" border="0" style="line-height: 1.2em; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; border-spacing: 0px; font-size: 100%; border: 0" cellspacing="0" width="485">
                        <tbody>
                            <tr>
                                <td style="padding: 30px 0 0">Congratulations!  @ViewData["fullName"], has invited you to join CoachCue.</td>
                            </tr>
                            <tr>
                                <td style="padding: 30px 0 0">@ViewData["InviteMessage"]</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="50">
                    <img src="http://coachcue.com/assets/img/mailsp.gif" style="border-style: none" height="1" width="1"></td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" border="0" style="line-height: 1.2em; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; border-spacing: 0px; font-size: 100%; border: 0" cellspacing="0" width="585">
        <tbody>
            <tr valign="top">
                <td width="50">
                    <img src="http://coachcue.com/assets/img/mailsp.gif" style="border-style: none" height="1" width="1"></td>
                <td width="445" style="padding: 30px 0 20px">
                    <table cellpadding="0" border="0" style="line-height: 1.2em; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; border-spacing: 0px; font-size: 100%; border: 0" cellspacing="0" width="485">
                        <tbody>
                            <tr valign="top">
                                <td width="100%" align="center"><a style="line-height: 1.2em; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; border-spacing: 0px; font-size: 100%; border: 0; text-decoration: none; border-radius: 3px; font-weight: bold; display: inline-block; text-align: center; float: none; font-size: 1.6em; padding: 8px 20px; margin: 5px 0; background-color: #FAA732; border-color: #FAA732; border-bottom: 1px solid #648517; color: #ffffff; padding: 15px 37px" href='@ViewData["InviteLink"]' target="_blank">Accept My Invitation</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="50">
                    <img src="http://coachcue.com/assets/img/mailsp.gif" style="border-style: none" height="1" width="1"></td>
            </tr>
        </tbody>
    </table>