
    <p align="left" class="article-title">
        <singleline label="Title">Add a title</singleline>
    </p>
    <div align="left" class="article-content">
        <multiline label="Description">Enter your description</multiline>
    </div>