@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_PostLayout.cshtml";
}

<div class="msg-header">
    <h2>
        <input type="hidden" id="pst-type" value="reg" />
        <i class="glyphicon glyphicon-user"></i>
        <span style="margin-left: 8px;">CoachCue Login</span>
    </h2>
</div>

<div class="message-post">
    <div class="row">
        <form id="frmRegisterLogin" method="post" action="@Url.Action("CreateAccount", "Account")" class="validate">
            <div class="help-block">
                <h5>Create your CoachCue Account</h5>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Type your Name" id="regname" name="regname" class="form-control" data-required="true" />
                <span style="display: none" class="help-inline validation-message">Please list your full name</span>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Type your Email Address" id="regemail" name="regemail" class="form-control" data-validate-email="true" data-required="true" />
                <span style="display: none" class="help-inline validation-message email-validation-message">Oops that Email Address already exists or is invalid</span>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Type your Password" id="regwrd" name="regwrd" class="form-control" data-required="true" />
                <span style="display: none" class="help-inline validation-message">Don't forget your password</span>
            </div>

            <div class="form-group">
                <button type="button" id="btnCreateAccount" class="btn btn-warning">Create Account</button>
                <span class="validation-message">Already a member? <a id="already-member-link" href="#">Sign in</a></span>
            </div>
        </form>

        <form id="frmLoginReg" method="post" action="@Url.Action("LogOnAjax", "Account")" style="display: none" class="validate">
            <div id="login-error" style="display:none">
                <label class="standout">Email Address or Password is invalid</label>
            </div>

            <div class="form-group">
                <input type="text" placeholder="Email Address" id="username" name="username" class="form-control" data-required="true" />
                <span style="display: none" class="help-inline validation-message">Gotta have an email address</span>
            </div>

            <div class="form-group">
                <input placeholder="Password" type="password" id="password" name="password" class="form-control" data-required="true" />
                <span style="display: none" class="help-inline validation-message">Gotta have a password</span>
            </div>

            <label style="display: none" class="control-label" for="rememberMe"></label>
            <div style="display: none" class="controls">
                <input type="checkbox" id="rememberMe" name="rememberMe" />
                <span class="help-inline standout">Remember Me</span>
            </div>

            <div class="form-group">
                <div class="controls">
                    <a id="forgot-password-link" href="#">Forgot your Password?</a>
                </div>
            </div>

            <div id="forgot-password-controls" style="display: none">
                <input style="display: inline" placeholder="Email Address" type="text" id="forgot-username" class="form-control" />
                <button type="submit" id="btnGetPassword" class="btn btn-info btn-sm">Get Password</button>

                <div class="control-group">
                    <label class="control-label standout"></label>
                    <div class="controls">
                        <span id="forgot-password-message" style="display: none" class="help-inline standout"> </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" id="btnlogin" class="btn btn-warning btn-lg">Login</button>
            </div>
        </form>
    </div>
</div>
