@model CoachCue.ViewModels.MessageViewModel

@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_PostLayout.cshtml";
}

<div class="msg-header">
    <h2>
        <input type="hidden" id="pst-type" value="msg" />
        <i class="icon-comment"></i>
        <span style="margin-left: 8px;">Matchup Comment</span>
    </h2>
</div>

@{Html.RenderPartial("_MessageCtrl", model: Model);}