.vs/CoachCue/v14/.suo
*.suo
bin/CoachCue.dll
bin/CoachCue.pdb
*.dll
CoachCueModels/obj/Debug/CoachCueModels.csproj.FileListAbsolute.txt
obj/Debug/CoachCue.pdb
*.dll
bin/CoachCue.pdb
/CoachCueModels/app.config
/CoachCueModels/obj/Debug/CoachCueModels.csprojResolveAssemblyReference.cache
