<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoachCueModels.Properties.Settings.CoachCueConnectionString"
            connectionString="Data Source=tcp:qcfn08fzds.database.windows.net,1433;Initial Catalog=CoachCue;User ID=CoachCue@qcfn08fzds;Password=C0@cTCu3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="twitterConsumerKey" value="GE5meDah3xrcAnXbOvkwXg"/>
      <add key="twitterConsumerSecret" value="RlrXPgwb5HdWOfHMcGSJJ2Sou1MYeX5WwrURBBMF4CE"/>
    </appSettings>
</configuration>