@model CoachCue.ViewModels.SearchResultViewModel

@{
    ViewBag.Title = "CoachCue - Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="row">
       
        <form class="form-horizontal" role="form">
            <div class="col-xs-2 col-md-1">
                <img style="height: 40px; width: 40px" class="img-circle" alt="@Model.UserData.UserName" src="@Url.Content("~/assets/img/avatar/" + Model.UserData.ProfileImage)" />
            </div>
            <div class="col-xs-10 col-md-11">
                <div style="background-color: #fff;">
                    <input id="main-search" style="height: 40px; font-size: 16px;" class="form-control" type="text" placeholder="Search CoachCue" />
                </div>
            </div>
        </form>
       
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 style="border-bottom: #F18A20 solid 3px; color: #656565; font-weight: bold">Trending Now</h3>

            <ul class="list-group">
                <li class="list-group-item">trending 1</li>
                <li class="list-group-item">trending 2</li>
                <li class="list-group-item">trending 3</li>
            </ul>
        </div>
    </div>
</div>


@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}
   
