@model CoachCue.ViewModels.FollowersModel
@using CoachCue.Model;

@{
    ViewBag.Title = "CoachCue - " + Model.FollowItem + " Followers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span6 offset1 section pod pod-followers">
    <div class='item parent player-header'>
        <div class='content'>
            <div class='content-header'>
                <span class='username'><a data-ajax="false" class="username" href="@Model.FollowLink">@Model.FollowItem</a></span>
            </div>
            <div class="avatar user-avatar height" style='background: url(@Model.FollowImg) 50% 50% no-repeat;'></div>
            <div class="detail-info">@Model.FollowCoaches.Count().ToString() Followers</div>
        </div>
    </div> 

    <table class="table table-hover">
        @foreach (CoachCue.Model.user coach in Model.FollowCoaches){
        <tr>
            <td class="follow-item">             
                @{ Html.RenderPartial("_CoachItem", model: coach); }
            </td>
        </tr>
        }
    </table>

</div>

@section playerlist
{
    <div class="row">
        @{ Html.RenderPartial("_TrendingList", model: Model.TrendingItems); }
    </div>
}