@model List<AccountData>
@using CoachCue.Model;

   <div class="pod" id="player-listing">

        <h5>Trending</h5>

        <ul id="trend-list" class="nav nav-pills">
            <li class="active"><a class="trending-view" data-position="" href="#">All</a></li>
            <li><a class="trending-view" data-position="RB" href="#">RB</a></li>
            <li><a class="trending-view" data-position="QB" href="#">QB</a></li>
            <li><a class="trending-view" data-position="WR" href="#">WR</a></li>
            <li><a class="trending-view" data-position="TE" href="#">TE</a></li>
        </ul>

        <div id="search-results">
            <div id="trending-filter">
            @foreach (AccountData player in Model)
            {
                { Html.RenderPartial("_PlayerItem", model: player); }
            }
            </div>
        </div>

    </div>