@model CoachCue.ViewModels.HomeViewModel
@using CoachCue.Service
@using CoachCue.Model

@{
    ViewBag.Title = "Who Do I Start? - Fantasy Football 2017";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display: none" class="home-header">CoachCue is crowd sourced Who Should I Start advice, news and much more</h1>

 <!-- first try at filtering -->
<ul class="nav nav-pills stream-filter">
    <li class="active">
        <a class="stream-filter-item" data-position="" href="#">Recent</a>
    </li>
    <li>
        <a class="stream-filter-item" data-position="RB" href="#">RB</a>
    </li>
    <li>
        <a class="stream-filter-item" data-position="QB" href="#">QB</a>
    </li>
    <li>
        <a class="stream-filter-item" data-position="WR" href="#">WR</a>
    </li>
    <li>
        <a class="stream-filter-item" data-position="TE" href="#">TE</a>
    </li>
    <li>
        <a class="stream-filter-item" data-position="DEF" href="#">DEF / K</a>
    </li>
    <li>
        <div id="filter-matchup-spinner"></div>
    </li>
</ul>

<div id="msg-list">
    
    <input type="hidden" id="load-matchups" value="@Model.LoadMatchups" />

    <div class="panel panel-default">
        <div class="panel-body">

            <div id="stream-area">                         

                <div id="message-stream" class="message-list-stream stream-matchups stream-messages" data-ticks="@DateTime.UtcNow.GetEasternTime().Ticks">                 

                    @foreach (StreamContent streamItem in Model.Stream)
                    { Html.RenderPartial("_StreamItem", model: streamItem); }

                    <!-- message loader -->
                    <input type="hidden" id="get-more-messages" value="false" />
                    <div id="all-stream-loader" style="display:none" class="item clear child stream-news message-loader">
                        <div class="content">
                            <div id="loading-messages-spinner"></div>
                            <span>Loading more messages...</span>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}