@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Coachcue - Win your fantasy football league</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://www.coachcue.com/landing-page/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" href="http://www.coachcue.com//landing-page/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="http://www.coachcue.com/assets/css/font-awesome.css">
    <link rel="stylesheet" href="http://www.coachcue.com/landing-page/css/lp.css">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <header class="lp-head">
            <a href="http://www.coachcue.com"><img src="http://www.coachcue.com/landing-page/img/cc_logo-2.png" width="450"></a>
            <h1>
                Oops. Something went wrong<br>
                Sorry, that page doesn’t exist!
            </h1>
            <h2>The link you followed may be broken, or the page may have been removed.</h2>
        </header>

        <section id="signup-sect">
            <a class="btn" href="http://coachcue.com/">Home</a>

            <a class="btn" href="mailto:info@coachcue.com">Contact Us</a>
            <br>


            <div class="flex-container">



                <div id="share">
                    <!-- Social -->
                    <ul class="icons">

                        <li class="share-button">
                        </li>

                    </ul>

                </div>
            </div>
        </section>

        <!-- <section id="info" class="row">
             <div class="span4">
                 <h3>News</h3>
                 <p>Follow all the latest news on all your players from around the league. Follow players and users to stay on top</p>
             </div>
             <div class="span4">
                 <h3>Matchup Advice</h3>
                 <p>Don't know who to start? Submit a match up between players and see how the crowd votes. </p>
            </div>
             <div class="span4">
                 <h3>Become A Fantasy Legend</h3>
                 <p>Vote on matchups and share your thoughts to the community. The better you are the higher you'll climb the leaderboard</p>
             </div>
         </section> -->

        <footer id="pagefooter">

            <p class="pull-left">
                <br>
                Copyright © Coachcue LLC 2015. All Rights Reserved
            </p>
        </footer>
    </div> <!-- /container -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.8.2.min.js"><\/script>')</script>

    <script src="../landing page/landing-page/js/bootstrap.min.js"></script>
    <script src="../landing page/landing-page/js/lp.js"></script>
</body>
</html>