@model CoachCue.ViewModels.PageViewModel

@{
    ViewBag.Title = "CoachCue - Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us</h2>
<h4>Tell us anything, we love hearing from you!</h4>

<div class="col-md-8">

    <form id="frmContactUs" action="@Url.Action("Index", "ContactUs")" method="post" class="validate form-horizontal">
        @if ((bool)ViewData["sent"])
        {
        <div id="contact-sent" class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Thanks! Your message has been sent.
        </div>
        }

        <div class="form-group">
            <label class="control-label standout" for="username">Email Address</label>
            <div class="controls">
                <input type="text" id="cntEmail" name="email" class="form-control" data-required="true" />
                <span style="display: none" class="help-inline validation-message">Oops we need your email address</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label standout" for="username">Message</label>
            <div class="controls">
                <textarea id="message" rows="10" name="message" class="form-control" data-required="true"></textarea>
                <span style="display: none" class="help-inline validation-message">Tell us something</span>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" id="btnSend" class="btn btn-warning btn-primary">Send Message</button>
        </div>
    </form>
</div>

@section rightcolumn {
    @{ Html.RenderPartial("_RightColumnBase", model: Model); }
}
